body{
font-family: Arial;
background:#f5f5f5;
text-align:center;
margin-top:100px;
}

form{
background:white;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
}

input{
width:100%;
padding:10px;
margin:5px 0;
}

button{
padding:10px;
width:100%;
background:#007bff;
color:white;
border:none;
}
